@import '../../components/variables.css';

html {
  background-color: var(--accent);
}

.root {
  position: absolute;
  top: 25%;
  width: 100%;
}

.container {
  background-color: var(--white-base);
  border-radius: 5px;
  margin: auto auto;
  max-width: 650px;
  padding: 25px;
  text-align: center;
}

.dropzone {
  background-color: var(--gray-lighter);
  border-color: #666;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  cursor: pointer;
  display: inline-flex;
  height: 200px;
  width: 100%;
}

.content {
  color:  var(--gray-dark);
  margin: auto auto;
  text-align: center;
}

.content p {
  margin: 0;
}

.action {
  margin-top: 25px;
}

.clear {
  border: none;
  display: inline-block;
  height: auto;
  width: auto;
}
