@import '../../components/variables.scss';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
}

.clipList {
  padding: 0;
  max-width: $max-text-width;
}

.clipItem {
  list-style-type: none;
  margin-bottom: 5em;
}

.clipTitle,
.clipAuthor {
  color: $primary;
  display: block;
  clear: both;
  float: left;
  font-size: 0.75em;
  padding: 0;
}

.clipAuthor {
  color: $gray-light;
}

.clipText {
  display: block;
  margin: 5px 0;
  padding: 0;
}
