@import '../variables.css';

.root {
  background-color: var(--accent-dark);
  border-radius: 3px;
  float: left;
  max-height: 37px;
  padding-left: 0px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

@media (min-width: 400px) {
  .root {
    margin: 0 10px;
    max-width: 180px;
  }
}
@media (min-width:550px) {
  .root {
    max-width: 65%;
  }
}

.icon {
  display: inline-block;
  fill: var(--white-base);
  height: 30px;
  margin: 7px 0 0 5px;
  vertical-align: middle;
  width: 30px;
}

input {
  color: var(--white-base);
  background-color: inherit;
  border: none;
  border-radius: 0;
  font-size: 18px;
  line-height: 32px;
  outline: none;
  padding: 2px;
  width: calc(100% - 40px);
}

input::placeholder {
  color: #fff;
}