@import '../variables.css';

.container {
  background: var(--accent);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12);
  height: auto;
  padding: 10px 0;
  width: 100%;
}

header { 
  height: auto;
  margin: 0 auto;
  min-height: 37px;
  padding: 0;
  width: 100%;
}

.brand {
  color: var(--brand-color);
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}