@import '../variables.scss';

.root {
  background: $accent;
  border-bottom: 3px solid $accent-dark;
  padding: 10px 0;
}

.container {
  height: auto;
  margin: 0 auto;
  max-width: $max-content-width;
  overflow: hidden;
  vertical-align: middle;
}

.search {
  float: left;
  vertical-align: middle;
}

.search > input {
  color: $gray-darker;
  font-size: 20px;
  border: none;
  border-radius: 0;
  background-color: inherit;
  outline: none;
}

.search > input::placeholder {
  color: #fff;
}

.nav {
  float: right;
}