:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Merriweather', 'HelveticaNeue-Light', sans-serif;

  /*
   * Colors
   * ========================================================================== */

  --brand-color: hsla(13, 59%, 46%, 1);
  --link-color: #6184DB;
  --link-color-light: color(#6184DB lightness(+5%));

  --white-base: hsla(0, 100%, 100%, 1);
  --gray-darker: color(black lightness(+13.5%));  /* #222 */
  --gray-dark: color(black lightness(+25%));      /* #404040 */
  --gray: color(black lightness(+33.5%));         /* #555 */
  --gray-light: color(black lightness(+65%));   /* #777 */
  --gray-lighter: color(black lightness(+93.5%)); /* #eee */
  --gray-lighter-mid: color(black lightness(+88%));

  --primary:       hsla(20, 56%, 57%, 1);
  --primary-dark:  hsla(20, 56%, 57%, 1);
  --primary-light: hsla(20, 56%, 57%, 1);

  --accent:        hsla(13, 59%, 46%, 1);
  --accent-dark:   hsla(13, 59%, 40%, 1);
  --accent-light:  hsla(20, 56%, 57%, 1);


  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1280px;
  --max-text-width: 750px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 400px;  /* Larger than mobile */
  --screen-sm-min: 550px;  /* Larger than phablet */
  --screen-md-min: 750px;  /* Larger than tablet */
  --screen-lg-min: 1000px; /* Larger than desktop */
  --screen-xl-min: 1200px; /* Larger than Desktop HD */
}
