@import '../../components/variables.css';

.listItem {
  list-style-type: none;
}

.title,
.author {
  color: var(--gray-light);
  display: block;
  font-size: 0.7em;
  padding: 0;
}

.title {
  font-weight: 600;
}

.text {
  color: var(--gray-darker);
  display: block;
  margin: 5px 0;
  padding: 0 0 5px 0;
}

.primary,
.regular {
  padding: 10px;
  border: 1px solid transparent;
  margin: 1em 0;
  padding: 1em;
}

.primary {
  background-color: white;
  border: 1px solid var(--gray-lighter);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

.regular:hover {
  cursor: hand;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--gray-lighter);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}