@import '../../components/variables.css';

html {
  background-color: var(--accent);
}

.root {
  height: 100%;
  position: absolute;
  top: 25%;
  width: 100%;
}

.container {
  background-color: var(--white-base);
  border-radius: 5px;
  margin: auto auto;
  max-width: 350px;
  padding: 20px 25px 25px 25px;
  text-align: center;
}

.lineThrough {
  color: var(--gray-light);
  display: block;
  font-size: 80%;
  margin: 10px 0;
  position: relative;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.lineThrough::before {
  background-color: #fff;
  content: '';
  height: 10px;
  left: 50%;
  margin-left: -20px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: -1;
}

.lineThrough::after {
  border-bottom: 1px solid #ddd;
  display: block;
  content: '';
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: -2;
}
